
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #000;
}
.comment .comment-arrow {
  border-color: #ccc;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #FFF;
}
.tabs ul.primary li a.active {
  background-color: #ccc;
}
.tabs ul.primary li.active a {
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
}
#header {
  background-color: #DDD;
}
a {
  color: #dd4310;
}
a:hover,
a:focus {
  color: #ff4e14;
}
a:active {
  color: #fe7649;
}
.sidebar .block {
  background-color: #ccc;
  border-color: #ccc;
}
#page-wrapper,
#footer-wrapper {
  background: #DDD;
  color: #666;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #666;
}
