
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #000;
}
.comment .comment-arrow {
  border-color: #ccc;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ccc;
}
.tabs ul.primary li a.active {
  background-color: #ccc;
}
.tabs ul.primary li.active a {
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
}
#header {
  background-color: #000;
  background-image: -moz-linear-gradient(top, #333 0%, #000 100%);
  background-image: -ms-linear-gradient(top, #333 0%, #000 100%);
  background-image: -o-linear-gradient(top, #333 0%, #000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #000));
  background-image: -webkit-linear-gradient(top, #333 0%, #000 100%);
  background-image: linear-gradient(top, #333 0%, #000 100%);
}
a {
  color: #dd4310;
}
a:hover,
a:focus {
  color: #ff4e14;
}
a:active {
  color: #fe7649;
}
.sidebar .block {
  background-color: #ccc;
  border-color: #ccc;
}
#page-wrapper,
#footer-wrapper {
  background: #333;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
