
.sf-menu a, .sf-menu span{
  color: #000 !important; /* <--------    Link color for links and unlinked items */
}
/* Headings for dropdowns */
.sf-megamenu .nolink{
  font-weight: bold;
}
.sf-megamenu{
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px
}
.sf-megamenu .sf-depth-1{
  font-weight: normal;
}

/* To hide contextual links - uncomment this
html.js .block-superfish div.contextual-links-wrapper {
  display: none;
}
*/

.sf-menu {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-navbar {
  width: 100%;
}
.sf-menu ul {
  padding-left: 0;
}
.sf-menu a, .sf-menu span{
  display: block;
  font-size: 14px;
  padding: 0.75em 1em;
  position: relative;
}

.sf-menu a:link,
.sf-menu a:visited  {
  text-decoration: none;
}
.sf-menu a.sf-with-ul, .sf-menu span.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.rtl a.sf-with-ul, .sf-menu.rtl span.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu span.sf-description {
  color: #13a;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu li,
.sf-menu.sf-navbar {
  background: #FFF;
}
.sf-menu li li {

}
.sf-menu li li li {

}
.sf-menu a.active{/* <---------------------------- Styling for active Items */

}
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0; /* <--------------------------Hover color */
}
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {

}
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}
.sf-menu.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
.sf-menu li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}
.sf-menu li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}
.sf-menu li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}
.sf-menu li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}
.sf-menu li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}
.sf-menu li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}
.sf-menu li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}
.sf-menu li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}
.sf-menu li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
.sf-menu li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}

/* Dropdowns */
@media only screen and (min-width : 480px) {
  .sf-menu li, .sf-menu.sf-navbar {background: #000}
  .sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
    top: 47px;
  }
  .region-header ul.sf-menu{
    padding: 15px 0
  }
  .region-header ul.sf-menu > li{
    background: transparent;
    border-left: 1px solid #666;
  }
  .region-header ul.sf-menu > li a{
    padding: 10px 17px
  }
  .region-header ul.sf-menu > li:first-child{
    border-left: 0;
  }
  .sf-menu a, .sf-menu span{
    color: #DDD !important;
    display: block;
    text-transform: lowercase;
  }
}
